pre {
  font-family: 'PT Mono', monospace;
  display: block;
  padding: 7%;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F7F7F7;
  border: none;
  border-radius: 0px;
}
.codigo {
  color: #595959;
  text-align: left;
}
.rosa {
  color: #FA8383;
}
.verde {
  color: #96AF83;
}
.azul {
  color: #364AE6;
}

// Code
.code {
  width: 90%;
  display: inline-block;

  .tit_tab {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    width: 100%;
  }
}

@media (min-width: $screen-sm) {
  .code {
    max-width: 800px;

    .tit_tab {
      width: 33.3%;
    }
  }
}