footer.footer {
  background-color: #373946;
  color: #fff;
}

.menu-footer {
  padding-left: 0;

  li {
    list-style: none;

    a {
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 0.9em;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:hover {
        opacity: 0.3;
        text-decoration: none;
      }
    }
  }
}

.logos-footer {
  text-align: center;

  img {
    width: 100%;
    max-width: 120px;
  }
}

img.logo-footer {
  opacity: .4;
  height: 30px;
  width: auto;
}

@media screen and (max-width: $screen-sm) {
  footer.footer {
    text-align: center;
  }
}
