// Boostrap overrides
$body-bg:               #fff !default;
$border-radius-base: 6px;

// Colors
$brand-primary:         $blue !default;
$brand-success:         $green !default;
$brand-info:            $skyblue !default;
$brand-warning:         $yellow !default;
$brand-danger:          $red !default;

// Fonts
$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base:          14px !default;
$headings-font-family:    "Oswald" !default;
$headings-font-weight:    500 !default;