* {
  -webkit-font-smoothing: antialiased !important;
}

@media screen and(max-width: $screen-sm) {
  h2 {
    font-size: 26px;
  }
}

p {
  font-weight: 400;
}

.lead {
  font-size: 15px;

  @media screen and (min-width: $screen-sm) {
    font-size: 17px;
  }
}

.text-success {
  color: $brand-success;
}

.btn {
  color: #fff !important;
  font-size: 1em;
  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border: none;
}

.btn-box {
  .btn + .btn {
    margin-left: $grid-gutter-width / 2;
  }
}

@media screen and (max-width: $screen-sm) {
  .btn-box {
    .btn {
      display: block;
    }

    .btn + .btn {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}

.btn-primary {
  &:active:hover, &:active:focus, &:hover {
    background-color: $brand-primary;
  }
}

.btn-info {
  &:active:hover, &:active:focus, &:hover {
    background-color: $brand-info;
  }
}

.btn-dark {
  background-color: $dark;
}

.btn-hover {
  transition: all .2s ease;

  &:hover {
    filter: brightness(110%);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    -moz-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  &:active {
    transform: translateY(1px);
    filter: brightness(95%);
  }
}

.section-big {
  padding: 200px 0;
}

/*intro_home*/

.top-nav {
  padding-top: 11%!important;
}

.animacion {
  padding: 0% 2% 2% 2%;
}

.animacion > img {
  width: 100%;
  max-width: 400px;
  float: right;
}

.container-divider {
  position: relative;
  width: 100%;
  z-index: 3;
  padding: 0;

  img {
    width: 100%;
  }
}

.container-divider-top {
  @extend .container-divider;
  margin-bottom: -10%;
}

.container-divider-bottom {
  @extend .container-divider;
  margin-top: -10%;
}

.divider-top {
  padding-top: 10%;
}

.divider-bottom {
  padding-bottom: 10%;
}

.box-1 {
  padding-top: 13%;
  background-color: $brand-primary;
}

.bg-primary {
  background-color: $brand-primary;
  color: #fff;
}

.bg-gradient {
  color: #fff!important;
  background: $blue;
  @include default-gradient();
  // background: url('../img/assets/bg_laptop.jpg');
  // background-size: cover;
  // background-position: 50% 50%;
}

.bg-dark {
  background: $dark;
  color: $light;
}

.card {
  padding: 1%;
  height: 100%;
}
.card-icono {
  padding: 15% 3% 3% 5%;
  vertical-align: middle;
  text-align: center;
  height: 100%;
}
.card-icono>img {
  width: 45px;
}
.card-texto {
  padding: 3% 3% 3% 8%;
  vertical-align: middle;
  height: 100%;
}
aside {
  width: 70%;
}

// Panel

.panel {
  background-color: #ccc;
  border-radius: 0;
  max-width: 440px;
  margin: 0 auto;
  box-shadow: $default-shadow;
  border-radius: $border-radius-base;
  min-height: 100px;
  transition: all ease .3s;

  &.panel-info {
    background-color: $brand-info;
    border-color: $brand-info;
    color: $light;
  }

  &.panel-dark {
    background-color: $dark;
    border-color: $dark;
    color: #fff;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px 1px rgba(0,0,0,.08), 0 12px 20px 1px rgba(50,50,93,.1);
  }
}

.container-icon {
  padding-top: 7%;

  img {
    padding-top: 0%;
    width: 50px;
    margin: 0 auto;
  }
}
