<div class="code">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active tit_tab"><a href="#suscripciones" aria-controls="suscripciones" role="tab" data-toggle="tab">SUSCRIPCIONES</a>
        </li>
        <li role="presentation" class="tit_tab"><a href="#one_click" aria-controls="one_click" role="tab" data-toggle="tab">ONE CLICK</a>
        </li>
        <li role="presentation" class="tit_tab"><a href="#cobros" aria-controls="cobros" role="tab" data-toggle="tab">COBROS</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="suscripciones">
<pre class="line-numbers">
<code class=" language-javascript">function test() {
  var hello = "Hello World!"
  if(hello && true) {
    console.log(hello);
  } else {
    console.log('Go fuck yourself.');
  }
}</code>
</pre>
            </div>


            <div role="tabpanel" class="tab-pane fade" id="one_click">

<pre class="line-numbers">
<code class="language-ruby">def destroy
  if @card.blank?
    return render_model_not_found_error('card')
  end

  was_default_card = false

  if @customer.default_payment_method && @customer.default_payment_method.id == @card.id
    was_default_card = true
  end

  Event.create(
    event_type: 'customer.card.deleted',
    data: {card: @card},
    commerce: @current_commerce
  )

  @card.update_attribute :status, 'deleted'

  check_other_cards_and_set_default if was_default_card

  head :no_content
end</code>
</pre>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="cobros">

<pre class="line-numbers">
<code class="language-php">// Set your secret key: remember to change this to your live secret key in production
// See your keys here: https://dashboard.qvo.cl/account/apikeys
\QVO\QVO::setApiKey("sk_test_BQokikJOvBiI2HlWgH4olfQ2");

// Token is created using QVO.js or Checkout!
// Get the payment token submitted by the form:
$token = $_POST['QVOToken'];

// Charge the user's card:
$charge = \QVO\Charge::create(array(
  "amount" => 1000,
  "currency" => "usd",
  "description" => "Example charge",
  "source" => $token,
));</code>
</pre>

        </div>
    </div>
</div>