<section class="text-center bg-gradient py-sm-4 py-2">
    <div class="container">
        <article class="padding-titulos">
            <h2 class="mt-0">
              <%= message %>
            </h2>

            <p class="lead mt-2">Con QVO podrás empezar a cobrar de manera rápida, simple y segura. Contáctate con nosotros o crea diréctamente tu cuenta.</p>
        </article>

        <article class="caja-botones mt-2">
            <button class="btn btn-primary btn-hover">Crea Tu Cuenta</button>
            <button class="btn btn-dark btn-hover">Contactarse Con Ventas</button>
        </article>
    </div>
</section>