<section class="text-center bg-gradient py-sm-4 py-2">
    <div class="container">
        <article class="padding-titulos">
            <h2 class="mt-0">
              <%= message %>
            </h2>

            <p class="mt-2">Con QVO podrás empezar a cobrar de manera rápida, simple y segura. Te proveemos con ambientes de prueba y todo lo que necesitas para cobrar de la manera que necesites.</p>
        </article>

        <article class="caja-botones mt-2">
            <button class="btn btn-crear">CREAR CUENTA</button>
            <button class="btn btn-desarrolladores">ÁREA VENTAS</button>
        </article>
    </div>
</section>