<!--footer-->
<footer class="footer py-4">
    <div class="container container-footer">
        <div class="col-md-15 col-xs-12">
            <h4>PRODUCTOS</h4>
            <ul class="menu-footer">
                <li><a href="">SUSCRIPCIONES</a>
                </li>
                <li><a href="">PAGOS</a>
                </li>
                <li><a href="">E-COMMERCE</a>
                </li>
            </ul>
        </div>

        <div class="col-md-15 col-xs-12">
            <h4>DESARROLLADORES</h4>
            <ul class="menu-footer">
                <li><a href="">DOCUMENTACIÓN</a>
                </li>
                <li><a href="">INSCRIPCIÓN</a>
                </li>
                <li><a href="">OTRO ITEM</a>
                </li>
            </ul>
        </div>

        <div class="col-md-15 col-xs-12">
            <h4>PRECIOS</h4>
            <ul class="menu-footer">
                <li><a href="">VER PRECIOS</a>
                </li>
            </ul>
        </div>

        <div class="col-md-15 col-xs-12">
            <h4>EMPRESA</h4>
            <ul class="menu-footer">
                <li><a href="">VER EMPRESA</a>
                </li>
            </ul>
        </div>

        <div class="col-md-15 col-xs-12">
            <h4>RECURSOS</h4>
            <ul class="menu-footer">
                <li><a href="">SOPORTE</a>
                </li>
                <li><a href="">CONTACTO</a>
                </li>
                <li><a href="">PRIVACIDAD Y CONDICIONES</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container logos-footer mt-2">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img src="img/assets/logos/footer/amazon.png" alt="">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img src="img/assets/logos/footer/microsoft.png" alt="">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img src="img/assets/logos/footer/imagine_lab.png" alt="">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img src="img/assets/logos/footer/corfo.png" alt="">
        </div>
    </div>

    <div class="container contacto-footer p-2">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logo-footer-qvo">
            <img src="img/assets/logo_footer.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 info-contacto-footer">
            <p><strong>Chile:</strong> Av. Vitacura 6844, Imagine Lab, Santiago - <strong>Uk:</strong> Office 32, 19-21 Crawford Street, London, W1H 1PJ</p>
        </div>

    </div>

</footer>
<!--fin footer-->