<!--menu navegacion grande-->
<div class="container navbar-fixed-top hidden-xs hidden-sm">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="img/assets/logo_navbar.png" alt=""></a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <li class="hovermenu">
                    <div class="toolTipTrigger">Productos
                        <div class="toolTipContainer p-2">

                            <h3 class="mt-0">NUESTROS PRODUCTOS</h3>
                            <div class="col-sm-6 bordes_icono">
                                <a href="#" title="more info" target="new">

                                <h4>Producto 1</h4>
                                <img src="img/assets/productos/icono.jpg" alt="">
                                <p>Descripción corta del producto en cuestión</p>
                                </a>
                            </div>


                            <div class="col-sm-6 bordes_icono">
                                <a href="#" title="more info" target="new">
                                <h4>Producto 1</h4>
                                <img src="img/assets/productos/icono.jpg" alt="">
                                <p>Descripción corta del producto en cuestión</p>
                                </a>
                            </div>

                            <div class="col-sm-6 bordes_icono">
                                <a href="#" title="more info" target="new">
                                <h4>Producto 1</h4>
                                <img src="img/assets/productos/icono.jpg" alt="">
                                <p>Descripción corta del producto en cuestión</p>
                                </a>
                            </div>

                            <div class="col-sm-6 bordes_icono">
                                <a href="#" title="more info" target="new">
                                <h4>Producto 1</h4>
                                <img src="img/assets/productos/icono.jpg" alt="">
                                <p>Descripción corta del producto en cuestión</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="/desarrolladores">Desarrolladores</a>
                </li>
                <li>
                    <a href="/precios">Tarifas</a>
                </li>
                <li>
                    <a href="/empresa">Empresa</a>
                </li>
                <li class="iniciar_sesion">
                    <a href="#">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!--fin menu navegación grande-->

<!--menu navegacion phone-->
<div class="container navbar-fixed-top hidden-lg hidden-md">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"><img src="img/assets/logo_navbar.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRODUCTOS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                        <li><a href="#">DESARROLLADORES</a>
                        </li>
                        <li><a href="#">PRECIOS</a>
                        </li>
                        <li><a href="#">EMPRESA</a>
                        </li>
                        <li class="iniciar_sesion"><a href="#">INICIAR SESIÓN</a>
                        </li>

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!--fin menu navegación phone-->
