#seguridad {
  height: 300px;
  width: auto;
}

#laptop {
  height: 300px;
  width: auto;
}

$rocket-container-size: 200px;

.rocket-container {
  position: relative;
  height: $rocket-container-size;
}

.rocket-box {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: - $rocket-container-size;
  width: auto;
  height: $rocket-container-size * 2;
  transform: translate3d(-50%, 0, 0);
}

@media only screen and (max-width: 768px) {
  $rocket-container-size: 150px;
}

// Code
.container_code {
  width: 90%;
  margin-top: 5%;
}

.tit_tab {
  font-family: 'Oswald', sans-serif!important;
  font-size: 1.1em;
  width: 100%;
}

@media (min-width: 768px) {
  .container_code {
    width: 90%;
    margin-top: 5%;
  }

  .tit_tab {
    font-family: 'Oswald', sans-serif!important;
    font-size: 1.1em;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container_code {
    width: 50%;
    margin-top: 5%;
  }

  .tit_tab {
    font-family: 'Oswald', sans-serif!important;
    font-size: 1.1em;
    width: 33.3%;
  }
}
@media (min-width: 1200px) {
  .container_code {
    width: 50%;
    margin-top: 5%;
  }

  .tit_tab {
    font-family: 'Oswald', sans-serif!important;
    font-size: 1.1em;
    width: 33.3%;
  }
}