.precio-box {
  background-color: $light;
  border-radius: $border-radius-base;
  padding: 0;
  overflow: hidden;
  box-shadow: $default-shadow;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.container-precios {
  margin:0 auto;
  text-align: center;
}

.container-precios h2 {
  color: $brand-primary;
}

.container-precios p {
  color: $text-muted;
  font-size: 24px;

}
.container-precios p span {
  font-size:14px;
}
.container-precios article p{
  font-size:16px;
  color: $text-muted;
}
.precio-box ul {
  padding:0;
}
.precio-box ul li {

  color: $text-muted;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

  .boton_base {
    width: 100%;
    height: 46px;
    border-radius: 0;
  }


