/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

.box-suscripciones {
    background-color: #373946;

}

.texto {
    padding: 8% 2% 0% 2%;
    text-align: center;
}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
.texto {
  padding: 8% 2% 10% 2%;
    text-align:left;
}
.fuera-suscripciones {
        padding: 5% 2% 5% 2%;
}
.box-1 {
    padding: 7% 2% 7% 2%!important;
}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }




