<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>
    <link href="css/desarrolladores.css" rel="stylesheet">
    <title>QVO - DESARROLLADORES</title>
</head>

<body>
    <% include ../partials/nav %>

    <!--intro home-->
    <div class="container-fluid fuera fuera-suscripciones">
        <div class="container dentro ">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 texto">
                <h1>Integra pagos en horas, no meses</h1>

                <p>Te proveemos una solución integral para que integres en tu pagina web, aplicación móvil o donde estimes conveniente. Acepta pagos con tarjeta de crédito, débito, con un solo click o de manera recurrente de manera rápida y segura.</p>

                <article class="caja-botones">
                    <button class="btn btn-desarrolladores">DESARROLLADORES</button>
                </article>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 animacion">
                <img src="img/assets/desarrolladores.png" alt="">
            </div>
        </div>
    </div>
    <!--fin intro home-->


    <!--box-1-->
    <div class="container-fluid fuera box-1 box-suscripciones">

        <div class="container dentro">
            <div id="laptop" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 animacion animacion-whatsapp">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 texto">
                <h2>PAGOS AHORA</h2>

                <p>A travez de nuestra API podrás empezar a probar de inmediato nuestros productos. Te proveemos con ambientes de prueba y abstracciones que simplifican la integración y operación con medios de pago. Prueba el poder de QVO ¡Ahora!</p>

                <article class="caja-botones">
                    <button class="btn btn-crear">CREA TU CUENTA</button>
                </article>
            </div>
        </div>

        <div class="container dentro">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 texto">
                <h2>¡SEGURIDAD ANTE TODO!</h2>

                <p>QVO se desarrollo con la seguridad como uno de sus fundamentos, proveemos los más altos estándares de encriptación, puedes estar tranquilo ya que tus transacciones están siendo realizadas de manera segura.</p>

                <article class="caja-botones">
                    <button class="btn btn-crear">QUIERO MÁS INFO</button>
                </article>
            </div>

            <div id="seguridad" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 animacion animacion-whatsapp"></div>
        </div>
    </div>
    <!--fin box-1-->

    <!--rocket-->
    <div class="rocket-container">
      <div id="rocket" class="rocket-box"></div>
    </div>

    <!--fin rocket-->

    <%- include('../partials/cta', {message: '¿QUÉ ESPERAS PARA EMPEZAR A COBRAR?'}) %>

    <!--BOX-3-->
    <div class="container-fluid fuera fuera-suscripciones">
        <div class="container dentro">
            <div class="col-md-6">
                <div class="panel panel-suscripciones">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 container-icon">
                                <img src="img/assets/ok_icon.svg" class="img-responsive">
                            </div>

                            <div class="col-md-10">
                                <h4>SUSCRIPCIONES</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada sed risus varius fermentum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-api">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 container-icon">
                                <img src="img/assets/code_icon.svg" class="img-responsive">
                            </div>

                            <div class="col-md-10">
                                <h4>DOCUMENTACIÓN API</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada sed risus varius fermentum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--FIN BOX-3-->

    <% include ../partials/footer %>
    <% include ../partials/vendor %>

</body>
</html>