<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>

    <title>QVO - Tarifas</title>
</head>

<body>
    <% include ../partials/nav %>

    <!--intro home-->
    <div class="section-big py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-xs-12">
                    <div class="precio-box text-left">
                        <div class="container-precios p-2">
                            <h4 class="mt-0">Estándar</h4>

                            <p class="lead mb-0">2,95% + ,01UF</p>

                            <small class="text-muted">por transacción</small>

                            <div class="row mt-2">
                                <div class="col-xs-6">
                                    <ul>
                                        <li><span class="text-success">✔</span> Sin mínimo</li>
                                        <li><span class="text-success">✔</span> Soporte</li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul>
                                        <li><span class="text-success">✔</span> Sin cobros escondidos</li>
                                        <li><span class="text-success">✔</span> Sin cobros mensuales</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary boton_base">CREA TU CUENTA</button>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 mt-2 mt-sm-0">
                    <div class="precio-box text-left">
                        <div class="container-precios p-2">
                            <h4 class="mt-0">Enterprise</h4>

                            <p class="lead mb-0">Contáctanos</p>

                            <small class="text-muted">para un precio especial</small>

                            <div class="row mt-2">
                                <div class="col-xs-6">
                                    <ul>
                                        <li><span class="text-success">✔</span> Asistencia en integración</li>
                                        <li><span class="text-success">✔</span> Soporte Personalizado</li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul>
                                        <li><span class="text-success">✔</span> Descuento por volumen</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary boton_base">Contáctanos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin intro home-->

    <%- include('../partials/cta', {message: '¿QUÉ ESPERAS PARA CREAR TU CUENTA?'}) %>

    <% include ../partials/footer %>
    <% include ../partials/vendor %>
</body>

</html>