<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>

    <title>QVO - Tarifas</title>
</head>

<body>
    <% include ../partials/nav %>

    <!--intro home-->
    <div class="section-big py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-xs-12">
                    <div class="precio-box">
                        <div class="container-precios p-2">
                            <h2>PAGOS, COBROS Y SUSCRIPCIONES</h2>

                            <p>2,95% + <span>0,01UF</span></p>

                            <article>
                                <p>por transacción exitosa</p>
                            </article>

                            <ul>
                                <li>Pago por uso</li>
                                <li>Comisiones transparente</li>
                                <li>Información clara y a tiempo real</li>
                                <li>Pagos con tarjeta de débito y crédito</li>
                                <li>Sistema de suscripciones</li>
                                <li>Sistema de cobros</li>
                            </ul>
                        </div>

                        <button type="button" class="btn btn-primary boton_base">CREA TU CUENTA</button>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 mt-2 mt-sm-0">
                    <div class="precio-box">
                        <div class="container-precios p-2">
                            <h2>EMPRESA</h2>

                            <p>Contáctanos para un trato especial</p>

                            <article>

                            </article>

                            <ul>
                                <li>Descuento por volumen</li>
                                <li>Soporte personalizado</li>
                                <li>Asistencia en integración</li>
                            </ul>
                        </div>

                        <button type="button" class="btn btn-primary boton_base">CREA TU CUENTA</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin intro home-->

    <%- include('../partials/cta', {message: '¿QUÉ ESPERAS PARA CREAR TU CUENTA?'}) %>

    <% include ../partials/footer %>
    <% include ../partials/vendor %>
</body>

</html>