<!DOCTYPE html>
<html lang="es">
  <head>
    <% include ../partials/head %>

    <title>QVO - Suscripciones</title>
</head>
<body>
    <% include ../partials/nav %>

    <!--intro -->
    <div class="py-4">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-md-6 col-xs-12">
                    <h1 class="mt-0">Los ÚNICOS con sistema de suscripción en CHILE</h1>

                    <p class="lead mt-2">Ahorrate el tiempo de ir cobrando a tus clientes cada mes. Con el SISTEMA DE SUSCRIPCIONES QVO los cobros los hacemos nosotros :)</p>

                    <article class="btn-box mt-3">
                        <button class="btn btn-dark">DOCUMENTACIÓN API</button>
                    </article>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="animacion">
                        <img src="img/assets/suscripciones.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin intro -->


    <!--box-1-->
    <div class="py-5 bg-dark">
        <div class="container">
            <div class="row vertical-align">
                <div  class="col-md-6 col-xs-12  scrollflow -slide-top -opacity">
                    <div class="animacion animacion-whatsapp">
                        <img src="img/assets/whatsapp.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2 class="mt-0">EVITA QUE TE DEJEN EN VISTO</h2>

                    <p class="lead mt-2">Con el sistema de SUSCRIPCIONES QVO puedes hacer cobros automáticos a tus clientes</p>

                    <article class="btn-box mt-2">
                        <button class="btn btn-primary btn-hover">CREA TU CUENTA</button>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!--fin box-1-->

    <%- include('../partials/cta', {message: '¿QUÉ ESPERAS PARA CREAR TU CUENTA?'}) %>

    <!--BOX-3-->
    <div class="container py-2 px-0 p-sm-4">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-body p-2">
                        <div class="row">
                            <div class="col-md-2 container-icon">
                                <img src="img/assets/ok_icon.svg" class="img-responsive">
                            </div>
                            <div class="col-md-10">
                                <h4>SUSCRIPCIONES</h4>
                                <p>Asegura tus pagos mes a mes, QVO realiza los cálculos y los cobros por ti. No gastes energías en cobrar a tus clientes y suscribelos a tus servicios.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-dark">
                    <div class="panel-body p-2">
                        <div class="row">
                            <div class="col-md-2 container-icon">
                                <img src="img/assets/code_icon.svg" class="img-responsive">
                            </div>
                            <div class="col-md-10">
                                <h4>DOCUMENTACIÓN API</h4>
                                <p>Comienza a probar y usar los servicios de QVO ahora con nuestra API. Tenemos toda la documentación disponible para ti</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIN BOX-3-->

    <% include ../partials/footer %>
    <% include ../partials/vendor %>

</body>
</html>